# Base API URL untuk Web / iOS / Desktop / Perangkat Fisik
API_BASE_URL=http://localhost:5000/api/v1

# Base API URL khusus untuk Android Emulator (karena localhost merujuk ke emulator itu sendiri)
API_BASE_URL_ANDROID=http://10.0.2.2:5000/api/v1
